@model ContactInformationCore.Model.Contact

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Create Contact</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Id" hidden="hidden" class="control-label"></label>
                            <input asp-for="Id" type="hidden" class="form-control" />
                            <span asp-validation-for="Id" hidden="hidden" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="First_Name" class="control-label"></label>
                            <input asp-for="First_Name" class="form-control" />
                            <span asp-validation-for="First_Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Last_Name" class="control-label"></label>
                            <input asp-for="Last_Name" class="form-control" />
                            <span asp-validation-for="Last_Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone_Number" class="control-label"></label>
                            <input asp-for="Phone_Number" class="form-control" />
                            <span asp-validation-for="Phone_Number" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <select class="form-control" asp-for="Status">
                                <option>Activate</option>
                                <option>Deactivate</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                            <a asp-action="Index" class="btn btn-default">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>


            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }

        </div>
    </div>
</div>
